body {
  margin: 0px;
}
.header img {
  object-fit: contain;
  width: 100%;
}

#hero {
  display: flex;
  width: 100%;
  justify-content: center;
}
#hero .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#hero .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .right canvas {
  object-fit: contain;
  width: 100%;
}

#blue {
  background: #0f0054;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#blue:after {
  content: "";
  height: 35%;
  width: 100%;
  background: #f1ecfe;
  position: absolute;
  bottom: 0px;
}

#blue img {
  max-width: 100%;
  margin: auto;
  display: flex;
  z-index: 2;
}

#blue [id="02_translado_fondo"] {
  width: 100%;
  z-index: 2;
}

#blue [id="02_translado_city"] {
  width: 100%;
  margin-top: -100%;
  position: relative;
  padding-top: 77%;
  z-index: 2;
}
#grey {
  background: #f1ecfe;
  display: flex;
  width: 100%;
  flex-direction: column;
}
#grey .top img {
  width: 100%;
  object-fit: contain;
}

#white100 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#white100 .top {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#white100 .top .left {
  flex-direction: column;
  display: flex;
  font-style: initial;
}

#white100 .top .left [id="03_online"] {
  margin-top: -90px;
}

#white100 .bottom {
  margin-top: 30px;
  position: relative;
  margin-bottom: -4px;
}

#white100 .bottom img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}
#white100 .bottom [id="04_reporteAprobado"] {
  position: absolute;
  left: 0px;
  right: 0;
  margin: auto;
  margin-left: 60%;
  top: 0px;
  bottom: 43%;
  max-width: 250px;
}
@media screen and (min-width: 992px) {
  #white100 .bottom [id="04_reporteAprobado"] {
    max-width: 350px;
  }
}

#lorem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#lorem img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-bottom: 30px;
}

#grey2 {
  background: #f1ecfe;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#grey2 .top {
  max-width: 1024px;
  margin: auto;
  display: flex;
}

#grey2 .top .left {
  display: flex;
  width: 50%;
}
#grey2 .top .left img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
#grey2 .top .right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#grey2 .top .right [id="05_oficina"] {
  width: 100%;
  object-fit: contain;
}

#grey2 .bottom img {
  object-fit: contain;
  display: flex;
  width: 100%;
  height: auto;
}

#property {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#property img {
  width: 100%;
  display: flex;
  height: auto;
  object-fit: contain;
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

* [data-absolute="true"] {
  position: absolute;
}
* [data-relative="true"] {
  position: relative;
}

.max-1024 {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
.bg-grey {
  background: #dadbeb;
}
.bg-grey-light {
  background: #eff0ff;
}
.bg-blue {
  background: #0f0054;
}
.bg-violet {
  background: #1f0056;
}

.fit-image {
  width: 100%;
  object-fit: contain;
}

*[id="06_chica_casa_leyendo"] {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  margin-top: 0px;
}

#lorem {
  margin-top: 50px;
}
#faq {
  background-color: #eff0ff;
}
#faq > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#faq .left,
#faq .right {
  width: 50%;
  display: flex;
}
*[id="07_amigosVentana"] {
  width: 100%;
  object-fit: contain;
  left: -10%;
  position: relative;
}
#name {
  margin-top: 30px;
  margin-bottom: 30px;
}
#name > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#name .left,
#name .right {
  width: 50%;
  display: flex;
}

#bot {
  background: #eff0ff;
  position: relative;

  padding-top: 30px;
}
#bot img {
  position: relative;
  z-index: 2;
}
#bot:after {
  content: " ";
  background: white;
  height: 59px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
}

#hero6 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#hero6 > div {
  display: flex;
  width: 100%;
  justify-content: center;
}
#hero6 .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#hero6 .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-bot6 > div {
  display: flex;
  flex-direction: column;
}
#hero-bot6 > div .top {
  display: flex;
}
#hero-bot6 .top .left {
  display: flex;
  width: 50%;
}

#hero-bot6 .top .right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#hero7 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#hero7 > div {
  display: flex;
  width: 100%;
  justify-content: center;
}
#hero7 .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#hero7 .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[id="12_reporte_oficina"] {
  left: -25%;
  position: relative;
}

#hero8 > div {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}
#hero8 .left {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero8 .right {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
#hero8-bot {
}

#hero8-grey .top-pushed {
  height: 37vw;
}

[id="13_camion_yendo"] {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0px;
}
.before-truck {
  content: "";
  position: absolute;
  width: 100%;
  height: 30vw;
  background-color: #eef3fe;
  left: 0px;
  bottom: -59vw;
  z-index: -1;
}
#hero8-separator {
  margin-bottom: -5px;
}

#blue3 {
  top: -112px;
  position: relative;
}


#form > div {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}
#form .left {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#form .right {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


main.mobile {
  width: 450px;
  margin: auto;
  max-width: 450px;
}
main.mobile * {
  max-width: 100%;
}
#hero {
  overflow: hidden;
  position: relative;
}
#pajaro_ultimo {
  width: 200%;
  object-fit: cover;
  aspect-ratio: 3/1;
  top: -40%;
  /* height: 38vw; */
  z-index: 1;
}
[id="15_notif"] {
  position: absolute;
  left: 0px;
  background: white;
  width: 15vw;
  max-width: 170px;
  height: 15vw;
  bottom: 0px;
  max-height: 170px;
  top: 92px;
  margin: auto;
}