.header img {
  object-fit: contain;
  width: 100%;
}

#hero {
  display: flex;
  width: 100%;
  justify-content: center;
}
#hero .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#hero .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .right canvas {
  object-fit: contain;
  width: 100%;
}

#blue {
  background: #0f0054;
  display: flex;
  justify-content: center;
}
